@use 'sass:math';

@function stripUnit($value) {
  $resultValue: $value * 0 + 1;
  @return math.div($value, $resultValue);
}

@function rem($pxValue) {
  $valueOne: stripUnit($pxValue);
  $valueTwo: stripUnit(16);
  @return #{math.div($valueOne, $valueTwo)}rem;
}