:root {
  --var--background-color: #EAEEF6;
  --var--main-font-color: #121212;
  --var--main-lightblue: #08A0F7;
  --var--active-lightblue: #0c73ab;
  --var--lighgray: rgba(65, 71, 94, 0.5);
  --var--green: #46BD84;
}
