@import '../../../node_modules/modern-normalize/modern-normalize.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  font-weight: 400;
}

body, html {
  background-color: var(--var--background-color);
  color: var(--var--main-font-color);
}

#root {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: #fff;
}

.ProseMirror {
  padding: rem(10);
  margin-top: rem(4);
}

.ProseMirror-focused {
  border-color: black;
  outline: none;
}

.react-datepicker {
  border: none !important;
  overflow: hidden !important;
  border-radius: rem(8) !important;
  box-shadow: var(--var--main-shadow);

  &__header {
    background-color: var(--var--background-color) !important;
    border-bottom: none !important;
  }

  &__current-month {
    font-weight: 500 !important;
  }

  &__month {
    padding: rem(3) rem(3) !important;
    font-size: rem(15) !important;
  }

  &__day {
    &--keyboard-selected,
    &--selected {
      background-color: #DAECFC !important;
      color: black !important;
      font-weight: 500 !important;
      font-size: rem(16);
    }
  }

  &__today-button {
    padding: rem(10) 0 !important;
    background-color: var(--var--background-color) !important;
    border-top: none !important;
    font-weight: 500 !important;
  }
}