.nav {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 13px;
  letter-spacing: 0.5px;

  .project__link {
    transition: .3s;


    &:visited {
      color: var(--var--main-font-color);
    }

    &:hover {
      color: var(--var--main-lightblue);
    }

    &:active {
      color: var(--var--active-lightblue) !important;
    }
  }

  .user {
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      width: 15px;
      padding-bottom: 1px;
      cursor: pointer;
    }
  }


  .auth__button {
    border: none;
    background: transparent;
    transition: .3s;
    width: 50px;
    cursor: pointer;

    &:hover {
      color: var(--var--main-lightblue);
    }

    &:active {
      color: var(--var--active-lightblue);
    }
  }
}

:global .active {
  color: var(--var--main-lightblue) !important;
}