.addButton {
  display: flex;
  width: rem(28);
  height: rem(28);
  border: 1.5px dashed #D0D0D0;
  color: #D0D0D0;
  padding-top: rem(1);
  border-radius: 50%;
  font-weight: 300;
  font-size: rem(22);
  transition: .3s;
  cursor: pointer;

  &:hover {
    animation: breath 5s ease-out infinite normal;
    color: var(--var--lighgray);
    border: 1.5px dashed var(--var--lighgray);
  }

  &:active {
    transform: scale(95%);
    transition: .1s;
  }
}

@keyframes breath {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  50% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}