.nav {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  line-height: 13px;
  letter-spacing: 0.5px;

  .project__link {
    font-weight: 400;
    transition: .3s;


    &:visited {
      color: var(--var--main-font-color);
    }

    &:hover {
      color: var(--var--main-lightblue);
    }

    &:active {
      color: var(--var--active-lightblue) !important;
    }
  }
}

:global .active {
  color: var(--var--main-lightblue) !important;
}