.addButton {
  display: flex;
  width: rem(28);
  height: rem(28);
  border: 1px dashed #D0D0D0;
  color: #D0D0D0;
  border-radius: 50%;
  font-weight: 300;
  font-size: rem(22);
  transition: .3s;
  cursor: pointer;

  &:hover {
    animation: push_and_rotate 3s infinite ease;
    color: var(--var--lighgray);
    border: 1px dashed var(--var--lighgray);
  }

  &:active {
    transform: scale(95%);
    transition: .1s;
  }
}

@keyframes push_and_rotate {
  0% {
    transform: scale(100%);
  }
  25% {
    transform: rotate(5deg) scale(103%);
  }
  50% {
    transform: rotate(0) scale(100%);
  }
  75% {
    transform: rotate(-5deg) scale(103%);
  }
  100% {
    transform: rotate(0) scale(100%);
  }
}