.textEditor {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding: rem(10) rem(5);
  gap: rem(10);
  font-size: rem(14);
  background-color: #FAFBFC;
  border: 1px solid #EEEEEE;
  border-radius: rem(8);
  min-height: rem(200);
  max-height: rem(200);
  overflow-y: scroll;

  &::-webkit-scrollbar {
    background-color: inherit;
  }

  kbd,
  code {
    padding: rem(4);
    border-radius: rem(4);
    background-color: #eceff1;
    color: #3b424b;
    box-decoration-break: clone;
    font-size: rem(14);
  }
}

