.projectTile {
  display: flex;
  flex-direction: column;
  width: 360px;
  min-width: 360px;
  border-radius: 8px;
  background: #fafafa;
  box-shadow: 0 10px 30px 0 rgba(32, 56, 85, 0.15);
  transition: 0.4s;
  padding: rem(28);
  position: relative;
  height: fit-content;
  cursor: pointer;

  &:hover {
    transform: scale(102%);
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(32, 56, 85, 0.35);
  }

  &__title {
    color: var(--var--main-font-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0.3px;
  }

  .information {
    display: flex;
    align-items: center;
    margin-top: rem(15);
    gap: rem(5);

    .flag {
      width: rem(18);
    }

    .deadline {
      padding-top: rem(2);
      color: var(--var--lighgray);
      font-size: 13px;
      font-weight: 400;
      line-height: 12px;
      letter-spacing: 0.3px;
    }
  }

  &__desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    max-height: 80px;
    margin-top: rem(22);
    color: rgba(65, 71, 94, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
  }

  &__progress {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .header {
      width: 100%;
      display: flex;
      justify-content: space-between;

      &__title {
        color: var(--var--main-font-color);
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.3px;
      }

      &__percent {
        text-align: right;
        color: var(--var--main-font-color);
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.3px;
      }
    }
  }
}