.taskContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2%;

  @include responsivePhone {
    flex-direction: column !important;
    gap: rem(20) !important;
  }

  .dropZone {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    width: 25%;

    &__title {
      display: flex;
    }
  }
}