.header {
  background-color: #fff;
  height: rem(60);
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: var(--var--main-shadow);

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 rem(25);
    justify-content: space-between;
  }
}