.header {
  background-color: #fff;
  height: 60px;
  border-radius: 8px;

  .container {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 25px;
    justify-content: space-between;
  }
}