.logo {
  display: flex;
  height: 100%;
  align-items: center;
  gap: rem(10);
  cursor: pointer;

  .icon {
    display: flex;
    width: rem(28);
    height: rem(28);
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: var(--var--main-lightblue);
    border-radius: 50%;

    .icon__text {
      display: block;
      font-size: rem(15);
    }
  }

  .title {
    font-size: rem(15);
    font-weight: 700;
    color: var(--var--main-lightblue);
    text-transform: uppercase;
  }
}