.taskDropZone {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  width: calc(100% / 3);
  height: fit-content;
  box-shadow: var(--var--main-shadow);
  padding: rem(10) rem(20) rem(20);
  color: var(--var--main-font-color);
  transition: .5s;

  @include responsivePhone {
    width: 100%;
  }

  &__title {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--var--divider-color);
    font-size: rem(17px);
    padding: rem(10) 0;
    margin-bottom: rem(10);
    gap: rem(10);

    .titleText {
      font-weight: 500;
    }


    .taskCount {
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(28);
      height: rem(28);
      border-radius: 50%;
      font-size: rem(16);
      color: #fff;

      p {
        font-weight: 500;
      }
    }

    .addTask {
      display: flex;
      margin-left: auto;
    }
  }

  &__tasks {
    display: flex;
    flex-direction: column;
    gap: rem(10);
  }
}

.queue {
  background-color: rgba(8, 160, 247, 0.9);
}

.dev {
  background-color: rgba(251, 166, 60, 0.9);
}

.done {
  background-color: rgba(52, 167, 112, 0.9);
}